body {
  margin: 0;
  padding: 10px; 
  text-align: center;
  background-image: url('../images/countries.jpg');
  background-size: cover;
 
}

ul{
  list-style: none; 
}

.countryInput {
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  font-size: 24px;
  text-align: center;
  width: 400px;
}
.countryInput::placeholder {
  color: rgba(53, 155, 79, 0.445);
}
.countryTitle {
  margin-top: 40px;
  margin-bottom: 30px;

  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.countryContentSection {
  padding-left: 50px;
  display: flex;
  justify-content: center;
}
.countryContent__title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}
.countryContent__text {
  font-size: 24px;
  font-style: italic;
}
.countryContent__item {
  font-size: 24px;
  font-style: italic;
}
.countryContent__item:not(:last-child) {
  margin-bottom: 10px;
}
.countryContent__image {
  margin-left: 40px;
}

.js-countries{
  color: rgb(5, 48, 168);
  font-family: 'Roboto', monospace;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgb(139, 31, 202);
}

.title {
  margin: 0 0 10px 0;
  color: rgb(97, 160, 15);
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
}

.pnotify{
  
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 20px;
  background: linear-gradient(31deg, rgba(219,151,151,1) 13%, rgba(150,22,22,1) 13%, rgba(150,22,22,1) 23%, rgba(219,151,151,1) 23%, rgba(219,151,151,1) 31%, rgba(150,22,22,1) 31%, rgba(150,22,22,1) 40%, rgba(219,151,151,1) 40%, rgba(219,151,151,1) 49%, rgba(150,22,22,1) 49%, rgba(150,22,22,1) 58%, rgba(219,151,151,1) 58%, rgba(219,151,151,1) 67%, rgba(150,22,22,1) 67%, rgba(150,22,22,1) 76%, rgba(219,151,151,1) 76%, rgba(219,151,151,1) 85%, rgba(150,22,22,1) 85%, rgba(150,22,22,1) 94%, rgba(219,151,151,1) 94%);
  width: 370px;
  height: 53px;
  
}