@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  margin: 0;
  padding: 10px;
  font-family: 'Roboto', cursive;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px #8d8181;
  background-image: url("../images/countries.jpg");
  background-size: cover;
}

li {
  list-style: disc;
}

.title {
  margin: 0 0 10px 0;
}

.input-search {
  margin: 20px 0 20px 0;
  padding: 0 15px 0 15px;
  height: 45px;
  min-width: 320px;
  border-radius: 40px;
  border: transparent;
  outline: none;
  -webkit-box-shadow: 2px 2px 5px rgba(211, 153, 153, 0.5), 1px 1px 5px white;
          box-shadow: 2px 2px 5px rgba(211, 153, 153, 0.5), 1px 1px 5px white;
  font-size: 20px;
  font-weight: 500;
  color: #635e5e;
}

.js-card-container {
  text-align: left;
}

.list-countries {
  margin: 0 auto;
  width: 50%;
}

.list-countries p {
  margin: 20px;
}

.country-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.country-info {
  margin-right: 20px;
}

.country-name {
  margin: 10px 0 10px 0;
  font-size: 38px;
  text-align: center;
}

.country-list {
  margin-bottom: 10px;
}

.country-list p {
  margin: 20px 0 20px 0;
  font-weight: 700;
}
